/* CONTENT ACCOUNT */
.header-account{
    display: flex;
}
.avt-img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
}
.head-acc-name{
    padding-left: 10px;
    padding-top: 10px;
}

.head-acc-name > h4 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: -15px;
}

.head-acc-name > p{
    padding-top: -10px;
    font-size: 1.5rem;
    color: #bdbdbd;
}
.input-acc{
    border: none;
  
}

.body-account{
    display: inline-block;
    
}

.row-tbl{
    padding-top: -30px;
    padding-left: 30px;
}

.acc-name{
    display: flex;
}


.acc-name > th > input {
    width: 100%;
}
.container{
    margin-top: 43px;
}
.container-table{
    font-size: 1.8rem;
}
.container-table tr{
    width:100px;
    height:50px;
  text-align: center;
 
}
.container-table th{
    border: 1px solid;
}
.container-table td{
    border: 1px solid;
    width:100px;
    height:80px;
}
.table-btn{
    background-color:#E8BB73;
}
.submit-1{
    color:white;
    background-color: #E8BB73;
    border-radius: 15px;
    width :100px;
    height :30px;
   margin-left:80px ;
}
.body-account{
    font-size: 1.8rem;
}
.table-container-infor {
    margin-left: 30px;
    margin-top: 10px;
}