/* CONTENT ACCOUNT */
.header-account{
    display: flex;
}
.avt-img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
}
.head-acc-name{
    padding-left: 10px;
    padding-top: 10px;
}

.head-acc-name > h4 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: -15px;
}

.head-acc-name > p{
    padding-top: -10px;
    font-size: 1.5rem;
    color: #bdbdbd;
}
.input-acc{
    border: none;
  
}

.body-account{
    display: inline-block;
}

.acc-name{
    display: flex;
}
.row{
    padding :30px;
}

.acc-name > th > input {
    width: 100%;
}
.container-table{
    font-size: 1.8rem;;
}
.container-table th{
    border: 1px solid;
}
.container-table td{
    border: 1px solid;
}