:root{
    --border: .1rem solid rgba(255, 255, 255, .3);
    --main: #E8BB73;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-slider-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: white;
}

#btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main);
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    text-align: center;
    
}

#btn:hover{
    letter-spacing: .2rem;
}

/* Media queries */

/* FIX MOBILE */
@media (min-width: 350px) and (max-width: 768px){
    html{
        font-size: 50%;
        
    }
    /* header */
    .icons #menu-btn{
        display:inline-block;
    } 

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: 250px;
        border: .1rem solid #ccc;
        text-align: center;
    }

    .header .user-content{
        text-align: center;
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: black;
        font-size: 2rem;
        width: 100%;


    }

    .header .search-form{
        width: 30%;
        right: 2rem;
    }

    /* footer */
    .Title_footer{
        padding-top: 25px;
    }

    .Title_footer-dow{
        margin-left: -15px;
    }

    .col_footer-link{
        margin-left: -50px;
    }

    .border_qr{
        height: 102px;
        width: 103px;
        margin-left: -25px;
    }

    .border_qr-app{
        padding-left: -10%;
        margin-left: -60%;
    }


}

/* FIX IPAD (TABLE) */
@media(min-width: 769px) and (max-width: 991px){

    .Title_footer{
        padding-top: 25px;
    }

    .Title_footer-dow{
        margin-left: -15px;
    }

    .border_qr{
        height: 102px;
        width: 103px;
        margin-left: -15px;
        margin-bottom: 6px;
    }

    .col_footer-link{
        margin-top: 10px;
        margin-left: -15px;
    }

    .border_qr-app{
        margin-left: -14%;
    }
}

/* FIX DISKTOP (PC)*/
@media(max-width: 1024px){
    html{
        font-size: 63%;
        
    }

    .header{
        padding: 1.5rem  2rem;
    }
    .col_footer-link{
        margin-top: 10px;
    }
    .border_qr{
        margin-bottom: 6px;
    }
}

/* LIEN HE */
.text-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.text-title-child, .text-font{
    font-size: 1.6rem;
    text-transform: none;
}

.text_item > i {
    font-size: 1.8rem;
}
.text_item-child-p{
    font-size: 1.4rem
}
.text_item{
    display: flex;
}

.text_item-child{
    margin-left: 10px;
}

.text_item-bottom{
    margin-bottom: 20px;
}
.text_item-content  {
    font-size: 1.6rem;
    margin:0px 0px -10px;
}
.text_item-top{
    font-size: 1.6rem;
}
.submit-submit{
    color:white;
    background-color: #E8BB73;
    width: 120px;
    height: 30px;
    font-size: 1.6rem;
    border-radius: 10px;;
}

