.web{
    background-color: white;
}

#header {
    /* background-color: aquamarine; */
}

.img_logo{
    width: 100px;
    height: 100px;
}

.header_nav{
    font-size: 20px;
} 

#header__search{
    padding: 45px 30px;
}

#form__size{
    height: 35px;
    font-size: 15px;
}

.header__icon{
    font-size: 20px;
    padding: 45px 15px;
    color: black;
}

.menu_child{
    font-size: 20px;
    text-align: center;

}

#hight__icon{
    padding: 10px;
}

.menu__icon{
    font-size: 15px;
}

#nav__width{
    padding-right: 20px;
}

/* HEADER END */
#mainWeb{
    height: 100px;
    background-color: blanchedalmond;

}

/* MAIN WEB END */


/* FOOTER*/

.section__font{
    background-color: #F7F7F7;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section__pd{
    padding: 5px 0px;
    border: 1px solid #333333; 
    border-collapse: collapse;
}

ul > li {
    list-style: none;
}

.footer_tag{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.footer_tag:hover{
    color: rgba(231, 130, 15, 0.774);
}

.fa-icon{
    padding-right: 10px;
}

.border_qr{
    border: 2px solid rgba(141, 123, 123, 0.774);
    height: 105px;
    width: 105px;
    padding: 5px;
    margin-bottom: 6px;
}

.qr{
    width: 90px;
    height: 90px;
}

.border_qr-app{
    border: 2px solid rgba(141, 123, 123, 0.774);
    height: 30px;
    width: 115px;
    padding: 4px;
    margin-left: -10px;
    margin-bottom: 6px;
}

.footer__text{
    text-align: center;
    font-size: 15px;
    padding: 15px 0;
}

/* FIX MOBILE */
@media (min-width: 350px) and (max-width: 765px){
    .Title_footer{
        padding-top: 25px;
    }

    .Title_footer-dow{
        margin-left: -15px;
    }

    .col_footer-link{
        margin-left: -50px;
    }

    .border_qr{
        height: 102px;
        width: 103px;
        margin-left: -25px;
    }

    .border_qr-app{
        padding-left: -10%;
        margin-left: -60%;
    }
}

/* FIX IPAD (TABLE) */
@media(min-width: 766px) and (max-width: 992px){
    .Title_footer{
        padding-top: 25px;
    }

    .Title_footer-dow{
        margin-left: -15px;
    }

    .border_qr{
        height: 102px;
        width: 103px;
        margin-left: -15px;
        margin-bottom: 6px;
    }

    .col_footer-link{
        margin-top: 10px;
        margin-left: -15px;
    }

    .border_qr-app{
        margin-left: -14%;
    }
}

/* FIX DISKTOP (PC)*/
@media(max-width: 1024px){
    .col_footer-link{
        margin-top: 10px;
    }
    .border_qr{
        margin-bottom: 6px;
    }
}