*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container-fluid .row>* {
  padding-left: 0;
  padding-right: 0;
}

.map {
  margin: 0;
  padding: 0;
}



.wrap-1{
  display: flex;
}

.wrap-1>* {
  width: 50%;
  margin: 8px;
}

.wrap-1>*:first-child{
  width: 50%;
  margin-left: 0px;
}

.wrap-1>*:last-child{
  width: 50%;
  margin-right: 0px;
}

.submit-button {
  padding: 5px 15px;
  border: none;
  background-color: peru;
  color: white;
}

.send-email {
  text-decoration: none;
  color: inherit;
}


.icon-fontawe {
  margin-right: 8px;
}

h6 p {
  font-weight: 400;
  margin-top: 6px;
}